.smallsidebar {
    height: 90vh;
    width: 200px;
    transition: 0.5 ease;
    cursor: pointer;
    background-color: #6C63FF;
    color: white;
    
    /* sidebar above the content */
    position: absolute;
    z-index: 1;
}

.bigsidebar {
    width: 50px;
    height: 90vh;
    transition: 0.5 ease;
    background-color: #6C63FF;
    cursor: pointer;
    color: white;
}

.menu-items {
    color: white;
    text-decoration: none;
}

.active-menu {
    color: black;
}

.active-menu svg {
    color: black;
}

.bigsidebar .menu-items {
    margin-bottom: 20px;
}